-var lang = en;
-var font_weight = ['thin', 'thin-italic', 'extra-light', 'extra-light-italic', 'light', 'light-italic', 'normal', 'normal-italic', 'medium', 'medium-italic', 'demi-bold', 'demi-bold-italic', 'bold', 'bold-italic', 'heavy', 'heavy-italic', 'black', 'black-italic'];

block vars

doctype html
html(lang=lang class=page)
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		block meta
		title= title
		link(rel='stylesheet', href='/css/app.css')
		block styles
	body
		.container
			block content
