body {
    line-height: 1.2;
    font-size: rem-calc(16);
}
html {
    font-size: 100%;
}
#glyphs-test p  {
    font-size: rem-calc(20);
}
#fontSize-test p  {
    
}
#color-test p  {

}
#lineHeight-test p  {
    font-size: rem-calc(30);
}
#style-test p  {

}
#similarity-test p  {
    font-size: rem-calc(40);
}
#similarity-test {
    .content {
        border: 0px;
    }
    .row {
        position: relative;
        overflow: visible;
    }
    p {
        text-align: center;
        width: 100%;
        opacity: .5;
    }
    .primary-font {
        color: red;
    }
    .secondary-font {
        position: absolute;
        top: 0;
        left: 0;
        color: blue;
        p {
          margin: 0;
        }
    }
}
#lineHeight-test p {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}
.col .content {
    padding: rem-calc(10);
    text-align: center;
}
.primary-font .content {
    border-right: 1px solid red;
}
.secondary-font .content {
    border-left: 1px solid red;
}
.thin, .thin-italic {
    font-weight: $thin;
}
.extra-light, .extra-light-italic {
    font-weight: $extra-light;
}
.light, .light-italic {
    font-weight: $light;
}
.normal, .normal-italic {
    font-weight: $normal;
}
.medium, .medium-italic {
    font-weight: $medium;
}
.demi-bold, .demi-bold-italic {
    font-weight: $demi-bold;
}
.bold, .bold-italic {
    font-weight: $bold;
}
.heavy, .heavy-italic {
    font-weight: $heavy;
}
.black, .black-italic {
    font-weight: $black;
}
.thin-italic, .extra-light-italic, .light-italic, .normal-italic, .medium-italic, .demi-bold-italic, .bold-italic, .heavy-italic, .black-italic, .thin, .extra-light, .light, .normal, .medium, .demi-bold, .bold, .heavy, .black {
    display: none;
}
.thin-italic p, .extra-light-italic p, .light-italic p, .normal-italic p, .medium-italic p, .demi-bold-italic p, .bold-italic p, .heavy-italic p, .black-italic p {
    font-style: italic;
}
h2 {
    text-align: center;
}
h3, h4 {
    text-align: center;
    clear: both;
    line-height: 2;
    margin: 0;
}
h3 {
    background-color: red;
    line-height: 2;
    color: white;
}
h4 {
    background-color: #D5D2D2;
    font-weight: normal;
}
